<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>회원가입</h2>
<form action="/signup" method="post">
  <label for="memberName">이름:</label><br>
  <input type="memberName" id="memberName" name="memberName"><br>
  <label for="memberEmail">이메일:</label><br>
  <input type="memberEmail" id="memberEmail" name="memberEmail"><br><br>
  <label for="velogTitle">타이틀:</label><br>
  <input type="velogTitle" id="velogTitle" name="velogTitle"><br><br>
  <input type="submit" value="가입">
</form>
</body>
</html>